---
layout: pages
---

<div class="content post">
    <h1>{{ page.title }}</h1>
    <time>{{ page.date | date_to_string }}</time>

    {%- comment -%}
        See '/ofri' or '2019-03-07-whats-Kikofri.md'
        for explanations.
    {%- endcomment -%}

    
    {%- if content contains 'µ#' or 'µ;;;' or 'µµ' -%}
        {{- content
            | replace: 'µ#', '<sup>[' | replace: '#µ', ']</sup>'
            | replace: 'µ;;', '<b>' | replace: ';;µ', '</b>'
            | replace: "µµ", "&emsp;" }}
    {%- else -%}
        {{- content -}}
    {%- endif -%}
    
<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 1164; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: '{{ page.url | absolute_url }}',
        id: '{{page.id}}'
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>

</div>
